* {
	color: rgb(2, 36, 81); /*a comment */
	margin: 10px;
	font: 14px Tahoma;
    background-color:antiquewhite;
}

p {
    color: black;
}

button.subpage {
    color: black;
}

.box {
    display: flex;

}

.box div {
    border: solid 1px black;
}

.grid-container {
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 1px;
}

.grid-item1 {
    background: lightgray;
    border: solid 1px black;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
} 
.grid-item2 {
    background: lightgray;
    border: solid 1px black;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid-item3 {
    background: lightgray;
    border: solid 1px black;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}